In [1]:
import pandas as pd

In [2]:
full_dataset = pd.read_csv("Data/candidates_V2.csv")
print(len(full_dataset))
full_dataset.head()

754975

,seriesuid,coordX,coordY,coordZ,class
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,68.420000,-74.480000,-288.700000,0
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-95.209361,-91.809406,-377.426350,0
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-24.766755,-120.379294,-273.361539,0
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-63.080000,-65.740000,-344.240000,0
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,52.946688,-92.688873,-241.067872,0

In [7]:
full_dataset["class"].value_counts()[1]/len(full_dataset) * 50000

103.11599721845093

In [6]:
positive_class = full_dataset[full_dataset["class"] == 1]
print(len(positive_class))

sample_negative_class = full_dataset[full_dataset["class"] == 0].sample(100000)
print(len(sample_negative_class))

1557
100000

In [7]:
sample_dataset = pd.concat([sample_negative_class, positive_class])
sample_dataset

,seriesuid,coordX,coordY,coordZ,class
253545,1.3.6.1.4.1.14519.5.2.1.6279.6001.200513183558...,49.131016,25.906502,-193.072216,0
490873,1.3.6.1.4.1.14519.5.2.1.6279.6001.301462380687...,47.430000,-234.570000,1104.000000,0
531051,1.3.6.1.4.1.14519.5.2.1.6279.6001.317087518531...,-122.170000,-13.120000,-164.630000,0
750647,1.3.6.1.4.1.14519.5.2.1.6279.6001.975426625618...,-99.440000,40.620000,-76.030000,0
619942,1.3.6.1.4.1.14519.5.2.1.6279.6001.478062284228...,-25.270000,45.800000,-210.380000,0
...,...,...,...,...,...
754090,1.3.6.1.4.1.14519.5.2.1.6279.6001.997611074084...,-29.720000,24.620000,-156.010000,1
754622,1.3.6.1.4.1.14519.5.2.1.6279.6001.997611074084...,42.895122,74.251037,-200.625978,1
754755,1.3.6.1.4.1.14519.5.2.1.6279.6001.997611074084...,-28.685000,32.690000,-164.835000,1
754947,1.3.6.1.4.1.14519.5.2.1.6279.6001.997611074084...,-23.719297,31.714489,-156.172233,1
754948,1.3.6.1.4.1.14519.5.2.1.6279.6001.997611074084...,-25.610000,32.140000,-151.310000,1

In [5]:
sample_dataset.to_csv("Data/candidates_100k.csv", index=False)